.my-photo{
    width: 200px;
    
    
}
@media screen and (max-width:767px){
    .mycard{
        border: 1px solid #2eca7f;
        border-radius: 10px;
        margin: 15px 15px;
    }
    .my_container{
        position: fixed;
        top:0%;
        width: 100%;
        height: 67px;
        background-color: rgba(46, 202, 127, 0.9);
        z-index: 1;
    }
    

    #mytitle {
        color: #ffffff;
        
        
    }
    #myNavbar{
        height: 100%;
        max-width: 300px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 66px;
        right:0;
        overflow-x:hidden;
        padding-top: 60px;
        background-color: #2eca7f;

    }
    #mybtn:hover,#mybtn:focus{
        background-color: rgb(105, 240, 245);
    }
    
    #mybtn .icon-bar:visited{
        background-color: rgb(134, 247, 247);
    }
    .navbar-brand:hover{
        color: white;
    }

    #myNavbar a{
        position: relative;
        padding:10px 8px 50px 30px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: .3s;
        
        text-align: center;

    }
    #myNavbar a:hover{
        color: #ffffff;
    }

    #myNavbar:checked ~ .mymenu{
        width: 300px;
        
        
    }

   
}

@media screen and (min-width: 768px){
    .my-photo{
        
        margin-bottom: -50px;
    }
    .card-body-detail{
        padding-top: 50px;
    }
    
    .container-fluid{
        max-width: 1000px;
    }
    .mymenu{
        position: relative;
        background-color: #ffffff;
        left: 0;
        
        min-width: 300px;
        max-height:66px;
        
        
    }
    .my_default{
        background-color: #ffffff;
    }

    #myNavbar a:hover{
        color: #2eca7f;
    }
/*

    .nav-link{
        display: block;
        padding: .5rem 1rem;
    }

    .collapse.navbar-collapse {
        position: relative;
        background-color:white;
        float: right;
        border:1px solid white;
        padding: auto;
        margin: auto;
        
    
    }



    li{
        
        background-color: white;
    }
    .navbar-default{
        background-color: white;
    }
    #Image_card{
        position: relative;
        margin: 10px 10px;
        padding: 10px 10px;
    }
    .text-center{
        position: relative;
    }

    .navbar-default .navbar-nav>li>a {
        color: green;
    }
*/
}

body{
    max-width: 1000px;
    margin: 0 auto ;
}

.my-links{
    border-radius: 50%;
    background-color: white;
    border: none;
    color: gray;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 40px;
    width: 40px;
}

.mycard{
   
    
    border: 1px solid #2eca7f;
    border-radius: 10px;
}


.myrow_header{
    border: 1px solid #2eca7f;
    border-radius: 10px;
    background-color: #2eca7f;
    
}

#btn_1{
    -webkit-animation: animate_bg 15s;
    animation: animate_bg 15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transition-duration: 15s;
}

#btn_2{
    -webkit-animation: animate_bg 10s;
    animation: animate_bg 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transition-duration: 10s;
}
#btn_3{
    -webkit-animation: animate_bg 5s;
    animation: animate_bg 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transition-duration: 5s;
}

#btn_4{
    -webkit-animation: animate_bg 1s;
    animation: animate_bg 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transition-duration: 1s;
}

/*


*/
@keyframes animate_bg {
    0%   {background:linear-gradient(to top,#B7F8DB, #50A7C2);}
    50%  {background:linear-gradient(to top, #13547a ,#80d0c7);}
    100% {background:linear-gradient(to top,#74b5eb,#8ef5f0);}
}

@-webkit-keyframes animate_bg {
    0%   {background:linear-gradient(to top,#B7F8DB, #50A7C2);}
    50%  {background:linear-gradient(to top,#13547a ,#80d0c7);}
    100% {background:linear-gradient(to top,#08b7f7,#b0dcec);}
}
.my-photo{
    
    clear: both;
    display: block;
    margin: auto;
    
}


.navbar-default .navbar-nav>li>a {
    height: -50px;
    color:#000000;
}
/*
#collapse-open >li> a:hover{
    color: hsl(64, 82%, 67%);
}*/

.my_default{
    
    height: 67px;
}
.myheader{
    width: 50%;
    max-width: 300px;
    
}

#mytitle{
    color: #000000;
}